[user]
  name = Neil Mahoney
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
[diff]
  tool = chdiff
[difftool "chdiff"]
  cmd = "/usr/bin/env chdiff" $LOCAL $REMOTE
[difftool]
  prompt = false
[push]
  default = tracking
[core]
  excludesfile = ~/.gitignore
[alias]
	log-tree = log --graph --pretty=format:\"%C(auto)%h %d %s %Cblue<%an> %C(magenta)(%ar)\" --abbrev-commit
